@page  "/chart"


<h1 class="page-title">Monthly Treatment Totals for @currentYear</h1>

    <TelerikChart>
        <ChartSeriesItems>
            <ChartSeries Type="ChartSeriesType.Column" Name="Monthly treatment totals" Data="@modelData" Field="@nameof(DataModel.MonthlyTotal)">
                <ChartSeriesLabels Template="#=value# in #=dataItem.Month#" Visible="true"></ChartSeriesLabels>
            </ChartSeries>
        </ChartSeriesItems>

        <ChartValueAxes>
            <ChartValueAxis Color="red"></ChartValueAxis>
        </ChartValueAxes>

        <ChartCategoryAxes>
            <ChartCategoryAxis Categories="@xAxisItems"></ChartCategoryAxis>
        </ChartCategoryAxes>

        <ChartTitle Text="Monthly Treatments Totals"></ChartTitle>

        <ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Bottom">
        </ChartLegend>
    </TelerikChart>



