@page "/"

<h1 class="page-title">Welcome to MyPTClinicApp</h1>

<br />

<div class="card-deck">
    <div class="card bg-info">
        <div class="card-body">
            <h4 class="card-title text-center">Add Appointment</h4>
            <p class="card-text text-center">
                Add a new appointment
            </p>
            <a href="/scheduleroverview" class="btn btn-info btn-outline-dark btn-block stretched-link">Appointments</a>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body">
            <h4 class="card-title text-center">Add Patient</h4>
            <p class="card-text text-center">
                Add a new patient
            </p>
            <a href="/patientedit" class="btn btn-success btn-outline-dark btn-block stretched-link">Add Patient</a>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body">
            <h4 class="card-title text-center">Add Treatment</h4>
            <p class="card-text text-center">
                Add a new treatment
            </p>
            <a href="/Treatmentedit" class="btn btn-warning btn-outline-dark btn-block stretched-link">Add Treatment</a>
        </div>
    </div>

</div>