<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyPTClinicApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scheduleroverview">
                <span class="oi oi-calendar" aria-hidden="true"></span> Appointments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="treatmentoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Treatments
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="treatmentedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Treatment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="patientoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Patients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="patientedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Patient
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="therapistoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Therapists
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="therapistedit">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Therapist
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
